##### Chi-squared Test Options File

In [1]:
#Chi-squared test in 2x3 table (Agresti, p39)
c.table <- array(data=c(762,484,327,239,468,477), 
                 dim= c(2,3),
                 dimnames=list(Gender=c("F","M"), 
                               Party=c("Dem","Indep","Repub")))
c.table
Xsq <- chisq.test(c.table, correct=FALSE)
Xsq
# Examine options
Xsq$observed
Xsq$expected
Xsq$residuals
Xsq$stdres
Xsq$p.value

      Party
Gender Dem Indep Repub
     F 762 327   468
     M 484 239   477

	Pearson's Chi-squared test

data:  c.table
X-squared = 30.07, df = 2, p-value = 2.954e-07

      Party
Gender Dem Indep Repub
     F 762 327   468
     M 484 239   477

      Party
Gender Dem      Indep    Repub
     F 703.6714 319.6453 533.6834
     M 542.3286 246.3547 411.3166

      Party
Gender Dem       Indep      Repub
     F  2.198856  0.4113702 -2.843240
     M -2.504669 -0.4685829  3.238673

      Party
Gender Dem       Indep      Repub
     F  4.502054  0.6994517 -5.315946
     M -4.502054 -0.6994517  5.315946

[1] 2.953589e-07

###### Fisher's Exact Test

In [2]:
# Fisher's Exact Test
# Exercise 2.29, Agresti, p 62
#
y <- seq(1:8)
x <- (y-1)
x
dhyper(x,15,15,7)
# check that this is the whole distribution
sum(dhyper(x,15,15,7))
#
# To make th output more readable
# make a table of the probabilities
prob <- round(dhyper(x,15,15,7),4)
fisher.tab <- data.frame(x,prob)
fisher.tab

#
# p-value is the probability of the observed
# table plus the probabilities of any table
# more extreme.
#
# observed table has 7/15 in TMT group and
# 0/15 in control group.
# no table is more extreme.
#P-value is 
dhyper(7,15,15,7)

[1] 0 1 2 3 4 5 6 7

[1] 0.00316092 0.03687739 0.15488506 0.30507663 0.30507663 0.15488506 0.03687739
[8] 0.00316092

[1] 1

  x prob
1 0 0.0032
2 1 0.0369
3 2 0.1549
4 3 0.3051
5 4 0.3051
6 5 0.1549
7 6 0.0369
8 7 0.0032

[1] 0.00316092

###### Partitioned Chi-Squared

In [3]:
#Chi-squared test in 2x3 table (Agresti, p39)
c.table <- array(data=c(762,484,327,239,468,477), 
                 dim= c(2,3),
                 dimnames=list(Gender=c("F","M"), 
                 Party=c("Dem","Indep","Repub")))
c.table
chisq.test(c.table, correct=FALSE)
#
#Partition this table - first test Dem vs Indep
c1.table <- array(data=c(762,484,327,239), 
                  dim= c(2,2),
                  dimnames=list(Gender=c("F","M"), 
                                Party=c("Dem","Indep")))
c1.table
chisq.test(c1.table, correct=FALSE)

#Partition this table - next test (Dem + Indep)vs Repub
c2.table <- array(data=c((762+327),(484+239),468,477), 
                 dim= c(2,2),
                 dimnames=list(Gender=c("F","M"), 
                               Party=c("D+I","Repub")))
c2.table
chisq.test(c2.table, correct=FALSE)

      Party
Gender Dem Indep Repub
     F 762 327   468
     M 484 239   477

	Pearson's Chi-squared test

data:  c.table
X-squared = 30.07, df = 2, p-value = 2.954e-07

      Party
Gender Dem Indep
     F 762 327
     M 484 239

	Pearson's Chi-squared test

data:  c1.table
X-squared = 1.8562, df = 1, p-value = 0.1731

      Party
Gender D+I  Repub
     F 1089 468
     M  723 477

	Pearson's Chi-squared test

data:  c2.table
X-squared = 28.259, df = 1, p-value = 1.061e-07

In [ ]:
##### Larry Bird ChiSquare Test

In [4]:
c.table <- array(data=c(251,48,34,5), 
                 dim= c(2,2),
                 dimnames=list(First_Shot=c("Made","Miss"), 
                               Second_Shot=c("Made","Miss")))
c.table
chisq.test(c.table,correct=FALSE)

# store output from chisq.test in Xsq
Xsq <- chisq.test(c.table, correct=FALSE)
#
# Examine options
Xsq$observed
Xsq$expected
Xsq$residuals
Xsq$stdres
Xsq$p.value

          Second_Shot
First_Shot Made Miss
      Made 251  34
      Miss  48   5

	Pearson's Chi-squared test

data:  c.table
X-squared = 0.27274, df = 1, p-value = 0.6015

          Second_Shot
First_Shot Made Miss
      Made 251  34
      Miss  48   5

          Second_Shot
First_Shot Made      Miss
      Made 252.11538 32.884615
      Miss  46.88462  6.115385

          Second_Shot
First_Shot Made        Miss
      Made -0.07024655  0.1945039
      Miss  0.16289564 -0.4510376

          Second_Shot
First_Shot Made       Miss
      Made -0.5222416  0.5222416
      Miss  0.5222416 -0.5222416

[1] 0.6015021